Flutter/Dart

*.dart_tool/ *.idea/ *.iml build/ .dart_tool/ .flutter-plugins .flutter-plugins-dependencies

Firebase

android/app/google-services.json ios/Runner/GoogleService-Info.plist .env

Other

.DS_Store .vscode/ *.log